#{extends 'main.html' /}
#{set title:'タスク管理システム｜adminScreen' /}

<div id="project_remove_modal" class="modal fade" >
    <div class="modal-dialog" style="margin-top:8%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">本当に削除しますか？</h4>
            </div>
            <div class="modal-footer">
                #{list items:プロジェクト一覧, as:'project'}
                <form action='/Admin/プロジェクト削除処理?project_name=${project.project_name}' method='POST'>
                    #{/list}
                    <input type="submit" class="btn btn-default" value="はい">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="いいえ">
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1>ユーザー一覧</h1>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>ユーザーID</th>
            <th>管理者フラグ</th>
            <th>削除フラグ</th>
        </tr>
    </thead>
    <tbody>
        #{list items:ユーザー一覧, as:'user'}
        <tr>
            <td>${user.id}</td>
            <td>${user.user_id}</td>
            <td>${user.is_admin}</td>
            <td>${user.is_delete}</td>
        </tr>
        #{/list}
    </tbody>
</table>

<div id="利用者登録フォーム" style="text-align:center;">
    <form action='/Admin/利用者登録処理' method='POST'>
        <input type='text' name='user_id' value='' placeholder="ユーザーID" />
        <input type='password' name='password' value='' placeholder="パスワード" />
        <input type="submit" value="利用者登録" />
    </form>
</div>

<h1>プロジェクト一覧</h1>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>プロジェクト名</th>
            <th>登録されているタスク数</th>
            <th>参加している利用者数</th>
            <!-- 空の見出し この列に削除ボタンを配置する -->
            <th></th>

        </tr>
    </thead>
    <tbody>
        #{list items:プロジェクト一覧, as:'project'}
        <tr>
            <td>${project.id}</td>
            <td>${project.project_name}
            </td>
            <td>${project.task_list.size()}</td>
            <td>${project.project_member.size()}
            </td>
            <td>
                <a href="/Admin/projectEditScreen?project_name=${project.project_name}">
                    <button type="button" class="btn-default">編集</button>
                </a>               



                <button type="button" class="project_remove btn btn-default">削除</button>

            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<div id="プロジェクト作成フォーム" style="text-align:center;">
    <form action='/Admin/プロジェクト作成処理' method='POST'>
        <input type='text' name='project_name' value='' placeholder="プロジェクト名" size="40" />
        <input type="submit" value="プロジェクト作成" />
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />


<script type="text/javascript">
    $(function() {
        $(".project_remove").on("click", function() {
            $("#project_remove_modal").modal('show')
        });
    });
</script>