#{extends 'main.html' /}
#{set title:'タスク管理システム｜プロジェクト編集画面' /}

<div id="user_remove_modal" class="modal fade" >
    <div class="modal-dialog" style="margin-top:8%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">本当に削除しますか？</h4>
            </div>
            <div class="modal-footer">

                <form action='/Admin/userDelete' method='POST'>
                    <div id="user_remove_form">

                    </div>
                    <input type="submit" class="btn btn-primary" value="はい">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="いいえ">
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<a href="/Admin/adminScreen"><button type="button">◀top画面に戻る</button></a>

<h1>プロジェクト編集</h1>
<table>
    <thead>
        <tr>
            <th>参加中の利用者</th>
            <!-- 空の見出し この列に削除ボタンを配置する -->
            <th></th>
        </tr>

    </thead>
    <tbody>
        #{list items:userList, as:'user'}
        <tr>
            <td>${user.user_id}</td>
            <td>
                <button type="button" class="user_remove btn-primary ">削除</button>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<br/>

<div id="利用者追加フォーム" style="text-align:center;">
    <form action='/Admin/userAdd' method='POST'>
        <input type='hidden' name='project_name' value='${project.project_name}' />
        <input type='text' name='user_id' value='' placeholder="ユーザーID" />
        <input type="submit" value="利用者追加" />
    </form>
</div> 

<script type="text/javascript">
    // チェック用変数
    var check = false;

    $(function() {
        $(".user_remove").on("click", function() {
            var user_id = $(this).parent().parent().find("td:first").text();
            console.log(user_id);
            
            /**
             *  削除確認時に いいえ を押して
             *  更新等挟まずにもう一度削除しようとすると
             *  前のデータが残って、エラーが出たり、違うユーザが削除されてしまう
             *  その防止のため、２回目以降のモーダル表示時には appennd したもの全部削除してから
             *  あらためて追加する。
             */
            if (check) {
                $("#user_remove_form").empty();
            }                                    
            // プロジェクトネーム input
            $("#user_remove_form").append("<input type='hidden' name='project_name' value='${project.project_name}' />");
            // ユーザID input
            $("#user_remove_form").append("<input type='hidden' name='user_id' value='" + user_id + "' /> ");
            // 次回モーダル表示時に子要素削除を TRUE
            check=true;

            $("#user_remove_modal").modal('show')
        });
    });
</script>