body {
    background-color : #EEE;
    color : #111;
}

h1 {
    border-bottom: 2px solid #333;
}

h2 {
    border-bottom: 1px dotted #333;
    margin-top : 2em;
    margin-bottom : 1em;
}

h2:hover {
    background-color : #DDD;
}

h1:first-letter {
    font-size: 150%;
    color : #119;
    /*float:left;*/
}

strong {
    color: red;
}

.alert{
    padding:8px 35px 8px 14px;
    margin-bottom:20px;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.alert-success{
    color:#468847;
    background-color:#dff0d8;
    border-color:#d6e9c6
}
.alert-error{
    color:#b94a48;
    background-color:#f2dede;
    border-color:#eed3d7
}

/* テーブルデザイン（シンプル） */
table {
    width : 80%;
    margin-left : auto;
    margin-right : auto;
}
th {
    border-bottom : 1px solid #000;
}

td:hover {
    background-color : #DDD;
}

