#{extends 'main.html' /}
#{set title:'タスク管理システム｜パスワード変更画面' /}

<h1>パスワード変更画面</h1>

<p>${user.user_id} さんは初めてのログインなので，パスワードを変更して下さい．</p>

<div id="パスワード変更フォーム" style="text-align:center;">
    <form action='/TaskManager/passwordChange' method='POST'>
        新しいパスワード：<input type='password' name='password1' value='' placeholder="パスワード" /><br />
        パスワード（再入力）：<input type='password' name='password2' value='' placeholder="パスワード" />
        <input type="submit" value="パスワード変更" />
    </form>
</div>
